@charset "UTF-8";
body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background-color: #BF9B8E;
    /* background-image: url(images/mesh.png);
  background-position: center 200px; */
    background-image: url(images/blackgoose.png);
    background-repeat: no-repeat;
    background-position: center 100px;
    background-attachment: fixed;
}
header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    background-color: #F2E3B6;
    background-image: url(images/border-horizontal.png);
    background-repeat: repeat-x;
    background-position: center top;/* background-attachment: fixed; */
}
a {
    text-decoration: none;
}
a:link {
    color: #F2E3B6;
}
a:visited {
    color: #F9F3E0;
}
a:focus, a:hover {
    color: #F9D97A;
    background-color: #8B7167;
}
a:active {
    color: #F8C52E;
    background-color: #54443E;
}
header a {
    text-decoration: none;
	font-weight: bold;
}
header a:link {
    color: #D9910B;
}
header a:visited {
    color: #E3AF4D;
}
header a:focus, header a:hover {
    color: #A26A03;
    background-color: #F6D777;
}
header a:active {
    color: #5A3B00;
    background-color: #F9CD44;
}
h1 {
    font: bold 1.5em "Notable", serif;
    text-shadow: .05em .05em .1em #000;
    color: #D9910B;
}
h2 {
    font: bold 1em "Notable", serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    color: #B3E7F2;
}
dt {
    font-weight: bold;
}
strong {
    font-style: italic;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.info {
    font-style: italic;
}
.price {
    font-family: Georgia, serif;
    font-style: italic;
}
warning, sup {
    font-size: small;
}
.label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
}
h2 + p {
    text-align: center;
    font-style: italic;
}
